<%- include('./partials/header') %> 
<button type="button" id="add_user" class="btn btn-primary">Add User</button>
<%- include('./partials/modal') %>
<script src="../public/addusers.js" type="module"></script>
<%- include('./partials/footer') %>